rootPathDir='$ROOT_DIR'

tlabDir=fullfile(rootPathDir, 'tlab', 'src')
addpath(fullfile(tlabDir, 'file'))

slurmbotDir=fullfile(tlabDir, 'slurmbot', 'matlab')
addpath(slurmbotDir)

strflabDir=fullfile(rootPathDir, 'strflab')
addpath(genpath(strflabDir))

dataDir=fullfile(rootPathDir, 'data')
stimsDir=fullfile(dataDir, 'all_stims')
cellDir = fullfile(dataDir, '$CELL_NAME')

[meanSpikeRate, wholeInfoVals, groupInfoVals] =  coherence_for_groups(cellDir, stimsDir, '$STIM_TYPE')

