rootPathDir='$ROOT_DIR'

tlabDir=fullfile(rootPathDir, 'tlab', 'src')
addpath(fullfile(tlabDir, 'file'))

slurmbotDir=fullfile(tlabDir, 'slurmbot', 'matlab')
addpath(slurmbotDir)

strflabDir=fullfile(rootPathDir, 'strflab')
addpath(genpath(strflabDir))

display_staggard_info('$CELL_NAME', '$STIM_TYPE')
exit

